@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
  --blue-green: #3393b7;
  --isabelline: #f1ecec;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.contentContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

.leftContainer {
  flex: 2;
  background-image: url(/assets/images/background.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leftLogoHeader {
  margin-top: -16rem;
  height: 20%;
  color: var(--isabelline);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.795);
  width: 100%;
  font-size: 400%;
  font-family: 'Playfair Display', serif;
}

.leftLogoHeader img {
  width: 30%;
  height: 75%;
}

.rightContainer {
  flex: 3;
  background-color: var(--isabelline);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Lora', serif;
}

.rightParagraph {
  margin-left: 5%;
  margin-bottom: 7%;
  width: 60%;
  font-size: large;
}

.formContainer {
  width: 100%;
  height: 33%;
  display: flex;
  align-items: center;
  color: black;
}

.registerForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 7%;
  margin-top: 15%;
}

.background-wrapper {
  padding-bottom: 3%;
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.registerForm h2 {
  margin-left: 5%;
  margin-bottom: 3%;
}

.registerForm section {
  display: flex;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 5%;
}

.input-wrapper label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-wrapper input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

.createActBtn {
  margin-top: 3.5%;
  width: 23%;
  height: 60px;
  margin-left: 5%;
  font-size: larger;
  font-weight: 500;
  background-color: var(--blue-green);
  color: var(--isabelline);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 10px;
  font-family: 'lora';
}

.logInText {
  margin-left: 5%;
}

.logInText a {
  text-decoration: underline;
  color: inherit;
}
